* {
  box-sizing: border-box;
  margin: 0;
}

#app {
  padding: 24px;
  width: 100%;
}

section,
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

#root-list {
  padding: 0;
}

#input-label {
  display: block;

  width: 200px;
  height: 50px;

  color: #ffffff;
  background-color: #000000;
  border-radius: 24px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 7px 7px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

#input-label:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
}

.list-item {
  display: block;
  width: 100%;
  list-style: none;
}

.list-text {
  width: 100%;
  font-size: 1.5rem;
  border: 2px #000000 solid;
  border-radius: 12px;
  background-color: #f5f5f5;
  padding: 4px 12px;
  margin: 2px;
}

#list-container {
  align-items: flex-start;
  cursor: pointer;
}
